@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --color-primary: #0D170F;
  --color-secondary: #59977E;
  --color-accent: #a9b3a8;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0D170F;
  --color-secondary: #59977E;
  --color-accent: #a9b3a8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  @apply font-sans;
}

@layer base {
  html {
    @apply font-sans text-gray-800 bg-white;
  }
}
